* {
    margin: 0;
    padding: 0
}
body{

    background-color: rgb(243, 243, 243);

}

a{
    text-decoration: none; 
}

.headerBanner {
    background-color: #3235f1;
}

.menu ul {
    padding-left: 200px;
    padding-right: 200px;
    list-style: none;
    margin: auto;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    font-size: 14px;
    padding: 10px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: auto;
}

.menu ul li a:hover {
    color: #8a8a8a;
    background-color: rgb(0, 18, 179);
    font-weight: bold;
}

.search-bar {
    text-align: center;
    border-radius: 30px;
}

::placeholder {
    color: darkslategrey;
    font-size: 12px;
    text-align: left;
}

#busca {
    border: none;
    background-size: 20px;
    margin: auto;
    border-radius: 50px;
    border-style: none;
    padding: 12px;
    padding-right: 40px;
    font-size: 12px;
    width: 350px;
    height: 30px;
    background-color: white;
    box-shadow: 3px 3px #1d20af;
    
}


#buscaBtn {
    position: relative;
    background: 20px;
    width: 25px;
    height: 25px;
    background: url("../images/iconeLupa.jpg") no-repeat center right;
    background-size: 25px;
    left: -40px;
    bottom: -8px;
    border: none;
    cursor: pointer;
}

.imageIcon{
    margin-top: 8%;
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    box-shadow: none;
}

.iconMenu {
    border: solid rgb(168, 168, 168) 3px;
    border-radius: 30px;
}

.iconMenu a {
    width: 60px;
    height: 60px;
}

.iconMenu p {
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.iconMenu, .botaoMenu {
    
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 10%;
    min-width: 120px;
    min-height: 100px;
}

.menuIcon {
    
    text-align: center;
    margin: 20px 200px;
    min-width: 150px;
}

.footer-rodape {
    background-color: #a1a1a1;
    width: 100%;
    height: 100px;
    bottom: 0;
    position: relative;
    
}

.divLogoRodape {
    display: block;
    float: left;
    margin: 10px;
}

.logoRodape{
    margin-top: 8%;
    display: inline-flex;
    width: 70px;
    height: 70px;
    align-items: center;
}

.divContatos, .divTextoInf {
    display: inline-block;
    border-left-style: solid;
    padding-left: 20px;
    border-color: #fff;
    margin-left: 5%;
  
}

.logo {
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.divTextoInf {
    color: rgb(5, 5, 5);
    font-size: 15px;
      
}
.textoInf{
    color: rgb(5, 5, 5);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.textCont {
    color: rgb(3, 3, 3);
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 5px;
}

.contato {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    
}


.divLogoRodape {
    padding-left: 10px;
    margin-right: -50px;
}

.itenProd {
    
    background-color: #ffff;
    position:relative;
    width: 200px;
    height: 250px;
    border-style: groove;
    margin: 40px;
    display: inline-block;
    border-radius: 10px;
    border: 2px;
    transition: 200ms transform ease-in-out;

}

.itenProd:hover{
    transform:scale(1.1);
    transition: 300ms transform cubic-bezier(0.42, 0, 0.46, 2.27);
    top:-2px;
    -webkit-box-shadow: 3px 0px 11px -1px #646464; 
    box-shadow: 3px 0px 11px -1px #646464;
}

.itenDiv {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: rgb(64, 64, 64);
    text-align: center;
    flex-direction: column;
    bottom: 0;

}

.div1 {
    
    background-color: rgb(233, 233, 233);
    max-width: 70%;
    display: block;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    text-align: center;
    -webkit-box-shadow: 3px 0px 11px -1px #646464; 
    box-shadow: 3px 0px 11px -1px #646464;

}

.page-title{
    
    font-size: 20px;
    padding: 20px;
    color: rgb(102, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 50px;
    float: left;

}

.imgDivDentro{
    
  width: 100%;
    height: 180px;
    align-items: center;
    border-radius: 10px;
}


