
*{
    margin: 0;
    padding: 0
}

.menu ul {
    padding-left: 200px;
    padding-right: 200px;
    background-color:#3235f1;
    list-style: none;
    margin: auto;


}

.menu ul li {
    display: inline;
}

.menu ul li a {

    font-size: 14px ;
    padding: 10px 10px;
    display: inline-block;
    background-color:#3235f1 ;
    color: white;
    text-decoration: none;
    margin: auto;

}

.menu ul li a:hover {
    color: #ffc982;
}
.search-bar {
    text-align: center;
    border-radius: 30px;
  
}
.headerBanner{

    height: 40px;
    border-top: 5px solid #3235f1;
    background-color: #3235f1;

}

::placeholder{
    color: darkslategrey;
    font-size: 12px ;
    text-align: left; 
}
#busca{
    
    
    border: none;
    background-size: 20px;
    margin: auto;
    border-radius: 50px;
    border-style: none;
    padding: 12px;
    padding-right: 40px;
    font-size: 12px ;
    width: 350px;
    height: 30px;
    background-color: white;

}

#buscaBtn{

    position: relative;
    background: 20px;
    width: 25px ;
    height: 25px ;
    background: url("../images/iconeLupa.jpg")  no-repeat center right;
    background-size: 25px;
    left: -37px;
    bottom: -7px; 
    border: none;
    cursor: pointer;
}